@charset "UTF-8";

#contrainer {
	width: 350px;
	height: 600px;
	float: left;
}

#main {
	width: 500px;
	height: 2000px;
	float: left;
}

.box {
	position: absolute;
	width: 321px;
	height: 500px;
	background-image: url("../images/iphone.png");
	right: 81%;
}

.setting {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 399px;
	right: 269px;
	left: 153px;
}

.contacts {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 399px;
	right: 269px;
	left: 204px;
}

.call {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 399px;
	right: 269px;
	left: 101px;
}

.messages {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 399px;
	right: 269px;
	left: 256px;
}

#list-header {
	height: 23px;
	background-color: darkseagreen;
	color: white;
	top: 10px;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 103px;
	margin-left: 0px;
}

.list {
	background-color: white;
	border-bottom: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding: 1rem;
}

.cimage {
	width: 50px;
	height: 25px;
	text-align: left;
}

.cname {
	width: 145px;
	height: 25px;
	text-align: left;
}
.rimage {
	width: 50px;
	height: 25px;
	text-align: left;
}

.rname {
	width: 145px;
	height: 25px;
	text-align: left;
}

.cbirthday {
	width: 100px;
	height: 25px;
	text-align: left;
}

.cgender {
	width: 55px;
	height: 25px;
	text-align: left;
}

.caddress {
	width: 162px;
	height: 25px;
	text-align: left;
}

.cphone {
	width: 100px;
	height: 25px;
	text-align: left;
}
.rphone {
	width: 100px;
	height: 25px;
	text-align: left;
}
.cemail {
	width: 209px;
	height: 25px;
	text-align: left;
}

.cnote {
	width: 100px;
	height: 25px;
	text-align: left;
}

.action {
	width: 20px;
	height: 25px;
	text-align: left;
}

.rimage {
	width: 66px;
	height: 25px;
	text-align: center;
}

.rname {
	width: 145px;
	height: 25px;
	text-align: left;
}

.rbirthday {
	width: 100px;
	height: 25px;
	text-align: left;
}

.rgender {
	width: 55px;
	height: 25px;
	text-align: left;
}

.raddress {
	width: 162px;
	height: 25px;
	text-align: left;
}

.rphone {
	width: 100px;
	height: 25px;
	text-align: left;
}

.remail {
	width: 209px;
	height: 25px;
	text-align: left;
}

.rnote {
	width: 100px;
	height: 25px;
	text-align: left;
}

.raction {
	width: 20px;
	height: 25px;
	text-align: left;
}

.actionnn {
	padding: 5px 0px;
	margin-left: 0px;
}

table.tbl-border {
	border-spacing: 0;
	border-collapse: collapse;
	width: 50%;
}

table.tbl-border th, td {
	border: 1px solid black;
}

table.tbl-border th, td {
	margin: 0;
	padding: 5px;
	text-align: left;
	padding: 5px;
}

input:focus {
	outline: none;
}