<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ContactDetailController</servlet-name>
  	<display-name>ContactDetailController</display-name>
  	<description></description>
  	<servlet-class>com.green.example.controller.ContactDetailController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>callController</servlet-name>
  	<display-name>callController</display-name>
  	<description></description>
  	<servlet-class>com.green.example.controller.callController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CallingController</servlet-name>
  	<display-name>CallingController</display-name>
  	<description></description>
  	<servlet-class>com.green.example.controller.CallingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PhoneHistoryController</servlet-name>
  	<display-name>PhoneHistoryController</display-name>
  	<description></description>
  	<servlet-class>com.green.example.controller.PhoneHistoryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddContactController</servlet-name>
  	<display-name>AddContactController</display-name>
  	<description></description>
  	<servlet-class>com.green.example.controller.AddContactController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ContactDetailController</servlet-name>
  	<url-pattern>/ContactDetailController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>callController</servlet-name>
  	<url-pattern>/callController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CallingController</servlet-name>
  	<url-pattern>/CallingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PhoneHistoryController</servlet-name>
  	<url-pattern>/PhoneHistoryController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddContactController</servlet-name>
  	<url-pattern>/AddContactController</url-pattern>
  </servlet-mapping>
</web-app>
